<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>melon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{624,654},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,305}</string>
                <key>spriteSourceSize</key>
                <string>{308,309}</string>
                <key>textureRect</key>
                <string>{{315,413},{304,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>melon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,406}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{3,3},{406,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{624,570},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{413,265},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{536,265},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{675,190},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{193,193}</string>
                <key>textureRect</key>
                <string>{{624,377},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{675,3},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{413,3},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>melon_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,308}</string>
                <key>spriteSourceSize</key>
                <string>{308,308}</string>
                <key>textureRect</key>
                <string>{{3,413},{308,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>melons1.png</string>
            <key>size</key>
            <string>{861,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5b9301545739a46c56b3fc04a7a72c7:2a32acee06dc27132fef92815b8e054d:06329406ff68605f2170b7ac700b91dc$</string>
            <key>textureFileName</key>
            <string>melons1.png</string>
        </dict>
    </dict>
</plist>
